<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.match.dao.TbMatchFallDao">

	<select id="get" resultType="com.bootdo.match.domain.TbMatchFallDO">
		select `match_guid`,`plan_guid`,`theory_guid`,`is_delete` from tb_match_fall where match_guid = #{value}
	</select>

	<select id="list" resultType="com.bootdo.match.domain.TbMatchFallDO">
		select `match_guid`,`plan_guid`,`theory_guid`,`is_delete` from tb_match_fall
        <where>  
		  		  <if test="matchGuid != null and matchGuid != ''"> and match_guid = #{matchGuid} </if>
		  		  <if test="planGuid != null and planGuid != ''"> and plan_guid = #{planGuid} </if>
		  		  <if test="theoryGuid != null and theoryGuid != ''"> and theory_guid = #{theoryGuid} </if>
		  		  <if test="isDelete != null and isDelete != ''"> and is_delete = #{isDelete} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by match_guid desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from tb_match_fall
		 <where>  
		  		  <if test="matchGuid != null and matchGuid != ''"> and match_guid = #{matchGuid} </if>
		  		  <if test="planGuid != null and planGuid != ''"> and plan_guid = #{planGuid} </if>
		  		  <if test="theoryGuid != null and theoryGuid != ''"> and theory_guid = #{theoryGuid} </if>
		  		  <if test="isDelete != null and isDelete != ''"> and is_delete = #{isDelete} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.match.domain.TbMatchFallDO">
		insert into tb_match_fall
		(
			`match_guid`, 
			`plan_guid`, 
			`theory_guid`, 
			`is_delete`
		)
		values
		(
			#{matchGuid}, 
			#{planGuid}, 
			#{theoryGuid}, 
			#{isDelete}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.match.domain.TbMatchFallDO">
		update tb_match_fall 
		<set>
			<if test="planGuid != null">`plan_guid` = #{planGuid}, </if>
			<if test="theoryGuid != null">`theory_guid` = #{theoryGuid}, </if>
			<if test="isDelete != null">`is_delete` = #{isDelete}</if>
		</set>
		where match_guid = #{matchGuid}
	</update>
	
	<delete id="remove">
		delete from tb_match_fall where match_guid = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from tb_match_fall where match_guid in 
		<foreach item="matchGuid" collection="array" open="(" separator="," close=")">
			#{matchGuid}
		</foreach>
	</delete>

</mapper>