*{margin:0;padding:0;font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"微软雅黑";font-size:15px;}
a:link{ text-decoration:none; } a:visited{ text-decoration:none; }a:hover{text-decoration:none;}
.leftmanage{width:58%;float:left;line-height:40px;margin-top:10px;}
.commmanage{line-height:40px;background-color:#F7F7F7;}
.leftmanage *{font-size:15px;font-weight:normal;}
.commmanage span,.leftmanage span{margin:5px;border:1px solid #ddd;padding:4px 20px;cursor:pointer;}
.commmanage label,.leftmanage label{margin-left:20px;font-weight:normal;}
.commmanage .active,.leftmanage .active{border:1px solid #6480A5;background-color:#A7BCD7;}
.centermanage{width:100%;float:left;line-height:40px;margin-top:10px;}
.centermanage *{font-size:15px;font-weight:normal;}
.centermanage span{margin:5px;border:1px solid #ddd;padding:4px 20px;cursor:pointer;}
.centermanage label{margin-left:20px;}
.centermanage .active{border:1px solid #6480A5;background-color:#A7BCD7;}
.manage{width:100%;float:right;text-align:right;height:50px;padding-top:10px;}
.manage button{/*height:30px;*/padding-left:2%;padding-right:2%;margin-right:2%;}
.select_input{padding:3px 20px;border:1px solid #ddd;}
.input_t{height:30px;width:10%;margin:0 5px;}
.centerlist{background-color:#F7F7F7;border-top:1px solid #ddd;border-bottom:1px solid #ddd;line-height:40px;height:40px;}
.export{float:right;margin-right:20px;border:1px solid #ddd;padding:0px 15px;margin-top:3px;line-height:28px;cursor:pointer;}

/* ::-webkit-scrollbar {width: 10px;}
 */
input[type=radio]:focus{
    outline:none
}
.table-responsive{min-height:80vh;}
.stable-responsive{min-height:76vh;}
.small_table{width:50%;margin:0 20%;}
/*.table{width:98%;margin:0 1%;}*/
.edit_table{width:55.5%;margin-left:9.7%;}
.table tbody{cursor: pointer;}
.table thead tr td,.div-header span,.edit_table thead tr td{color:#333333;padding-left:5px;/*padding-top:8px;padding-bottom:8px;*/}
.table tbody tr td,.edit_table tbody tr td{color:#333333;}
.table tbody tr td:first-child,.table thead tr td:first-child{text-align: center;}
/*table thead{background-image: url('../img/bg.png');background-repeat: repeat-x;}*/
/*table,table tr th, table tr td{border:1px solid #dddddd;}*/
.table-responsive tr{height:36px;line-height:36px;}
.table-responsive td{max-width:400px;min-width:60px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.span_green{background-color:#009944;color:#fff;padding:3px 5px;; -webkit-border-radius: 5px;border-radius: 5px;    display: inline-block;width: 80px;text-align: center;}
.span_red{background-color:#FF0000;color:#fff;padding:3px 5px;; -webkit-border-radius: 5px;border-radius: 5px;  display: inline-block;width: 80px;text-align: center;}
.span_grey{background-color:#999999;color:#fff;padding:3px 5px;; -webkit-border-radius: 5px;border-radius: 5px;  display: inline-block;width: 80px;text-align: center;}
.div-header{height:36px;width:100%;background-image: url('../img/bg.png');background-repeat: repeat-x;margin-left:0;margin-top:30px;}
.mainContent{width:98%;margin:0 auto;height:37px;line-height:37px;}
.div-header .col{padding:0 0.5%;}
.div-header .col,.mainContent .col{line-height:37px;height:37px;float:left;padding:0;display:block;max-width:500px;min-width:60px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.mainContent .col input{padding:0 0.5%;height:34px;border:0;}
.div-header .col,.mainContent .col{border-top:0.5px solid #ddd;border-bottom:0.5px solid #ddd;border-left:0.5px solid #ddd;}
.col:last-child{border-right:0.5px solid #ddd;}
.table-responsive .col5{width:5%;}
.table-responsive .col10{width:10%;}
.table-responsive .col15{width:15%;}
.table-responsive .col20{width:20%;;}
.table-responsive .col25{width:25%;}
.table-responsive .col30{width:27%;}
.table-responsive .col40{width:40%;max-width:800px;}
.table-responsive .col50{width:50%;max-width:1000px;}
.table-responsive .col75{width:75%;max-width:1500px;}
.combo-select {float:left;width:27%;height:37px;}
.combo-input{height:37px;}
.td_item{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;max-width:400px;min-width:60px;}


.page_footer{margin-top:30px;float:right;height:30px;line-height:30px;color:#333333;}
.btn_page{width:30px;height:30px;float:left;background-image: url('/img/image.png');	margin:0 2px;}
.first_page,.disable_firstpage{background-position:-0 -398px;}
.first_page:HOVER {background-position:-38px -398px;}
.prev_page,.disable_prevpage{background-position:-0 -360px;}
.prev_page:HOVER {background-position:-38px -360px;}
.next_page,.disable_nextpage{background-position:-112px -360px;}
.next_page:HOVER {background-position:-150px -360px;}
.last_page,.disable_lastpage{background-position:-112px -398px;}
.last_page:HOVER {background-position:-150px -398px;}
.page_num{width:50px;height:28px;border:1px solid #D4D4D4;padding:0 0px 0 5px;margin:0;}
.page_con{float:left;margin:0 10px;height:28px;line-height:28px;}

/** alert editpage**/
.form-horizontal{width:100%;margin:20px 0 0px 0!important;}
.form-control{display:inline;width:95%;}
.form-group{min-height:70px;margin-bottom:10px;}

.form_btn{margin-top:10px;margin-bottom:0;padding-top:10px;min-height:40px;}
.col-sm-2{width:30%;float:left;}
.form-group label{height:30px;line-height:25px;margin-left:5px;
   ;}
.form-group:last-child{padding-top:10px;margin-bottom:0;min-height:50px;}
.col-sm-10{width:68.3%;float:left;}
.col_sm_btn{text-align:center;width:100%;margin-top: 30px;}
.text-right{float:right;text-align:right;margin-right:30px;}

.col-xs-3.control-label{
    padding-right:0
}



/**upload btn**/
..btn-primary{color:#333 !important;background-color:#fff !important;border-color:#E2E2E2 !important;}

/*.form_btn .btn{    width: 100px;*/
    /*height: 40px;*/
    /*padding: 0;*/
    /*margin: 0 10px;*/
    /*!*background-color: #337ab7;*!*/
    /*border: 1px solid #E5E5E5;*/
    /*color: #fff;*/
    /*line-height: 40px;*/
/*}*/

/**machine*/
.mac{width:9.8%;border-right:1px solid #E2E2E2;float:left;}
.macul{margin:0}
.macul li {height:30px;list-style-type:none;line-height:30px;text-align: center;cursor: pointer;}
.macul li:active{background-color:#14396A;color:#fff;}
.macul .active{background-color:#14396A;color:#fff;}
.macul li span{width:70%;float:left;line-height:30px;margin-left:10px;white-space: nowrap; text-overflow: ellipsis; -o-text-overflow: ellipsis; overflow: hidden;}

.macleft{float:left;width:100%;height:100%;position:relative;}
.macheade{background-color:#F2F2F2;width:100%;height:35px;border-top:1px solid #E2E2E2;border-bottom:1px solid #F2F2F2;}
.macheade div{float:left;height:34px;width:11%;text-align:center;line-height:35px;cursor: pointer;}
.macheade .active{background-color:#fff;}
.machintable{width:100%}
.edithead{border-bottom:1px solid #E2E2E2;width:100%;height:48px;line-height: 48px;padding-left:16px}
.edithead .backhead{width:35px;height:33px;float:left;background-image: url('/img/image.png');background-position:-415px 0;margin:7px 10px;cursor: pointer;}

.sec_editDiv{margin-top:14px;margin-left:20px;}
.sec_editDiv:last-child{margin-bottom:40px;}
.sec_editDiv .left_sec,.sec_editDiv .right_sec{width:45%;float:left;}
.sec_editDiv .left_label{margin-right:10px;width:25%;text-align:right;font-weight:700 !important;vertical-align:top;}
.sec_editDiv .input_text{margin-right:10px;width:55%;;text-align:left;font-weight:normal !important;vertical-align:middle;	}
.sec_editDiv  .select_com{margin-right:10px;width:55%;text-align:left;font-weight:normal !important;vertical-align:middle;padding:5px;border:1px solid #ddd;border-radius:3px;}
.form-control{height:35px;}
.sec_editDiv .right_label{margin-right:1%;width:24%;text-align:right;margin-left:4%;font-weight:700 !important;vertical-align: top;}
.tab_input{width:100%;height:36px;}
.tab_select{width:100%;height:34px;}
.tab_input2{width:78%;height:34px;}
.tab_input3{width:50%;height:34px;}
.tab_input4{width:36%;height:34px;}

.rightformtextarea{width:80%;}
.sec_editDiv .docUpload{border:0;width:81%;margin-left:5%;min-height:100px;}
.download{background-image:url('/img/download.png');width:88px;height:22px;margin-top:5px;display:block;}
.download:hover{background-image:url('/img/download01.png');}

.add_btn{width:28px;height:28px;background-image:url('/img/icon_add01.png');float:right;margin-top:3px;margin-bottom:auto;    cursor: pointer;}
/*.add_btn:hover{background-image:url('/img/icon_add02.png')}*/
.remove_btn{width:28px;height:28px;background-image:url('/img/icon_remove01.png');float:right;margin-top:3px;margin-bottom:0;    cursor: pointer;}
.remove_btn:hover{background-image:url('/img/icon_remove02.png')}
.add_btn2{width:12px;height:12px;background-image:url('/img/icon_add04.png');float:right;margin-top:11px;margin-bottom:auto;cursor:pointer;margin-right:5%;    cursor: pointer;}
.remove_btn2{width:12px;height:2px;background-image:url('/img/icon_remove04.png');float:right;margin-top:16px;margin-bottom:auto;cursor:pointer;margin-right:5%;    cursor: pointer;}
#warnInfo{color:#d80e0e;text-align:center;display:block;width:100%;vertical-align: middle;height:40px;line-height:40px;font-size:14px;}
.rate{height:30px;border:1px solid #ddd;padding:4px 20px;margin-right:10px;cursor:pointer;}
.rate:hover,.rate:active,.active{background-color:#49617F ;}
.spe_rate{width:55%;margin-left:10%;;height:35px;line-height:35px;border:1px solid #ddd;}
input,textarea{border:1px solid #ddd;padding:5px}
input:disabled,textarea:disabled{background-color:#E9ECEF;}
.spe_radio,.spe_checkbox{width:20px; height:20px;position: absolute;clip: rect(0, 0, 0, 0);}
.spe_radio2{width:20px; height:20px;vertical-align: middle;margin-left:2%;}
.spe_checkbox2{width:20px; height:20px;vertical-align: middle;margin-left:2%;}
.spe_radio + label::before { content: "\a0"; /*不换行空格*/ display: inline-block; vertical-align: middle;font-size: 18px;width: 1em;
    height: 1em;margin-right: .4em;border-radius: 50%; border: 1px solid #aaa; text-indent: .15em; line-height: 1;
}
.spe_radio:checked + label::before { background-color: #285B94; border: 1px solid #285B94; background-clip: content-box;padding: .2em;}
.spe_checkbox + label::before { content: "\a0"; /*不换行空格*/ display: inline-block; vertical-align: middle;font-size: 18px;width: 1em;
    height: 1em;margin-right: .4em; border: 1px solid #ddd; text-indent: .15em; line-height: 1;
}
.spe_checkbox:checked + label::before { background-color: #285B94; border: 1px solid #285B94; background-clip: content-box;padding: .2em;}
.input_div{width:55%;display:block;height:35px;float:right;border:1px solid #ddd;margin-right:15.3%;overflow:auto;line-height:33px;}
.input_div span{padding:0px 8px;height:32px;line-height:32px;margin-left:3px;margin-right:3px;}
.input_div .acity{border:0.5px dashed #FF0000;color:#FF0000;}
.input_small_div{}
.input_small_div span{padding:0px 8px;height:32px;line-height:32px;margin-left:3px;margin-right:3px;}
.input_small_div .acity{border:0.5px dashed #FF0000;color:#FF0000;}
.selectinput span{padding:0 4px;margin-left:3px;margin-right:3px;border:1px dashed #14396A;}
.tabinpudiv{float:left;line-height:36px;height:36px;border:1px solid #ddd;}
.tab_search{width:30% !important;height:28px;margin-left:5px;}
.absolu{float:left;z-index:999;margin-top:2px;height:auto;position:absolute;left:56%;border:1px solid #ddd;width:23.2%;line-height:35px;background-color: #fff;}
.absolu span{cursor:pointer;padding:0px 8px;word-wrap:break-word;white-space:normal;display:inline-block;line-height:26px;margin-left:3px;margin-right:3px;}
.absolu .acity{border:0.5px dashed #14396A;}
.mainContent .absolu{margin-top:-10px;line-height:35px;display:none;}
.tababsolu{margin-top:35px !important;}
.warning{font-size:8px;font-style:normal;}
.mainChart{width:100%;}

.eqAttrCode{height:40px;position: relative;top:100%;}
em{color: #d80e0e;}
@media screen and (max-width:1920px ){
    .macul span{width:10%;}
    .edit_table{width:75.36%;}
    /* 	*{font-size:1.02em;} */
}
@media screen and (max-width:1440px ){
    .macul span{width:10%;}
    .edit_table{width:73.66%;}
    /* 	*{font-size:0.9em;} */
}
/*****   多选框样式   ***/
.opt {
    padding: 5px;
}
.magic-checkbox + label {
    position: relative;
    display: block;
    padding-left: 25px;
    cursor: pointer;
    vertical-align: middle;
}
.magic-radio + label:before, .magic-checkbox + label:before {
    position: absolute;
    top: 2px;
    left: 0;
    display: inline-block;
    width: 16px;
    height: 16px;
    content: '';
    border: 1px solid #c0c0c0;
}
.magic-checkbox + label:before {
    border-radius: 2px;
    background: #ffffff;
    border: 1px solid #aaaaaa;
}
/*********/
.opt label {
    font-size: 14px;
    font-family: Microsoft YaHei;
    color: #333333;
    margin-right: 13px;
}
.magic-radio + label:after, .magic-checkbox + label:after {
    position: absolute;
    display: none;
    content: '';
}
.magic-checkbox + label:after {
    top: 4px;
    left: 6px;
    box-sizing: border-box;
    width: 5px;
    height: 10px;
    transform: rotate(45deg);
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    border-top: 0;
    border-left: 0;
}
.magic-radio:checked + label:after, .magic-checkbox:checked + label:after {
    display: block;
}
.magic-radio, .magic-checkbox {
    position: absolute;
    display: none !important;
}
.magic-checkbox:checked + label:before {
    border: #285B94;
    background: #285B94;
}
/***********/

.ibox-content{
    border:none
}
*{
    font-family: '微软雅黑';
}
/*****tab*****/
#myTabs{
    height:42px;
    position: relative;
    top: 6px;
    margin-left: 5%;
    width: 95%;
}
#myTabs.nav-tabs>li>a{
    color:#333;
    margin:0
}
#myTabs.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
    background-color: #fff;
    color: #333;
}
#myTabs .active{
    background: #fff !important;
}
#myTabs.nav-tabs>li.active>a{
    color:#333;
    background: #fff !important;
    border-bottom:1px solid #fff
}
.tab-pane.active{
    background:#fff ;
}
/*****tab*****/
.inputtishi {
    color: red !important;
    padding-top: 10px;
    margin-left: 23%;
    display: inline-block;
    font-weight:bold
}
.right_sec .inputtishi {
    margin-left:30%
}

/********列表表格********/
.bootstrap-table .table thead>tr>th{
    text-align: center;
}


